{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
            <div class="jumbotron mt-5">
                <img src="{{ asset('images/grow.svg') }}" width="400" height="100" class="logo" alt="logo-growe">
                <h1 class="display-5 text-center"> Willkommen Bei grow Zeiterfassung} </h1>
            </div>
    </div>
{% endblock %}


