{% extends '@EasyAdmin/layout.html.twig'%}


{% block content %}

<div class="container">
  <h1> grow-werbeagentur.de </h1>

  <h1><a href="{{ path('app_home') }}">Vorschau</a></h1>

  {# {{ form_start(form) }}
 
//votre formulaire
 
{{ form_end(form) }} #}

</div

  <footer>

  </footer>
s{% endblock %}